<footer class="mainFooter">
    <div class="container">
      <div class="footerContent">
        <div class="address">
          <ul>
            <li class="desktop">לורם איפסום</li>
            <li>לורם איפסום <i class="tiny material-icons">local_phone</i></li>
            <li>לורם איפסום <i class="tiny material-icons">lock_outline</i></li>
          </ul>
          <p class="mobile"><img src="../../images/relax-icon.png" alt=""> לורם איפסום</p>
        </div>
        <p>לורם Ipsum הוא פשוט טקסט דמה של תעשיית דפוס ו סדור. לורם Ipsum כבר טקסט של תעשיית הדמה סטנדרטי מאז 1500s, כאשר מדפסת לא ידוע לקח מטחנת של סוג ו מקושקשות זה כדי להפוך את הספר סוג הדגימה. הוא שרד לא רק חמש מאות שנים, אלא גם את הקפיצה לתוך דפוס אלקטרוניים, שנותרו למעשה ללא שינוי. זה היה פופולרי ב 1960s עם שחרורו של גיליונות Letraset המכיל מעברים Lorem Ipsum, ולאחרונה עם תוכנת פרסום שולחני כמו Aldus PageMaker כולל גרסאות של לורם Ipsum.</p>
      </div>
    </div>
  </footer>