@import "https://fonts.googleapis.com/css?family=Alef";
.btn-large {
	height: 60px;
	line-height: initial;
	font-size: 1.25rem;
	padding: 0 80px;
	font-weight: 700
}
.btn, .btn-large, .btn-small {
	background-color: #bf8b30
}
.btn:hover, .btn-large:hover, .btn-small:hover {
	background-color: #db9e34
}


:root {
	font-size: 1rem;
--light-gray-color:#f9fafa;
--main-color:#bf8b30;
--gray-color:#494b4f;
}

/* global css */
::placeholder {
color:#707070;
opacity:1
}
:-ms-input-placeholder {
color:#707070
}
::-ms-input-placeholder {
color:#707070
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
	border: 2px solid #bf8b30
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
	background-color: #bf8b30
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
	font-size: 1.15rem
}
[type="radio"]:not(:checked)+span, [type="radio"]:checked+span {
	margin-left: 5px;
}
.grid-row {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	display: -ms-flexbox;
	display: flex;
	
}
.align-items-center {
	-ms-flex-align: center!important;
	align-items: center!important
}
.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1060px
	}
	}
@media (min-width: 768px) {
.grid-col-sm-6 {
	flex: 0 0 50%;
	max-width: 50%;
	-ms-flex: 0 0 50%;
}
.grid-col-sm-12 {
	flex: 0 0 100%;
	max-width: 100%;
	-ms-flex: 0 0 100%;
}
.mobile {
	display: none !important;
}
}
.no-gutters>.grid-col, .no-gutters>[class*=grid-col-] {
	padding-right: 0;
	padding-left: 0
}
.grid-col-sm-6 {
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
	width: 100%;

}
.button {
	background: #bf8b30;
	color: #fff;
	border-radius: 4px;
	font-size: 25px;
	padding: 13px 78px;
}
label {
	font-size: 1.25rem;
	color: #707070
}
[type="checkbox"].filled-in:checked+span:not(.lever):after {
	top: 0;
	width: 20px;
	border: 2px solid #707070;
	background-color: transparent;
	z-index: 0;
	height: 20px;
}
body {
	background-size: cover;
	font-family: 'Alef', sans-serif;
	background-repeat: no-repeat;
	text-align: right;
	color: #707070;
	background: url(../assets/images/background.jpg);

}
.txtLarge {
	font-size: 1.25rem;
}
.img-fluid {
	max-width: 100%;
	height: auto
}
.text-center {
	text-align: center
}
[type="checkbox"].filled-in:checked+span:not(.lever):before {
	top: 0;
	border-left: 2px solid transparent;
	border-right: 2px solid #26a69a;
	border-bottom: 2px solid #26a69a;
	-webkit-transform: rotateZ(37deg);
	transform: rotateZ(37deg);
	left: 1px;
	width: 8px;
	height: 13px;
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	border-top: 2px solid transparent;

}
.pull-right {
	float: right !important;
}

.topContent img {
	margin-top: -20px;
	padding-left: 50px
}
.fullContent .checkbox strong {
	padding-right: 30px
}
.fullContent .checkbox [type="checkbox"]+span:not(.lever) {
	top: 30px
}
/* header style */
.headerTop {
	background: var(--gray-color);
	padding: 6px 30px;
	text-align: left
}
.headerBot {
	background: var(--light-gray-color);
	text-align: right;
	padding: 14px 80px
}
.fullContent {
	direction: rtl
}
/* main content style */
.contentSection {
	background: #fff;
	margin: 100px 0 125px
}
.topContent p {
	margin: 0
}
.leftSection {
	text-align: left
}
.leftSection img {
	height: auto;
	display: block;
	width: 100%;
}
.bgGray {
	background-color: #F0F0F0;
	padding: 30px 15%
}
.topContent {
	padding: 100px 50px 10px
}
.topContent h1 {
	line-height: 30px;
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 38px;
	color: #BF8B30;

}
.checkbox [type="checkbox"]+span:not(.lever) {
	padding-left: 20px
}
.rightSection {
	padding: 10px 80px;
	background: #fff;
	direction: rtl;
}
.rightSection h1 {
	line-height: 30px;
	margin-top: 0;
	font-size: 38px;
	color: #BF8B30;

}
.gap-right {
	padding-left: 30px;
}
.terms {
	margin: 30px 0 50px;
}
.checkbox {
	margin: 30px 0 50px;
}
.checkbox strong {
	display: inline-block;
	vertical-align: top;
	line-height: 1;
	padding-right: 10px
}

/* footer style */
.mainFooter {
	background: #2c2a2f;
	padding: 15px 0
}
.address i {
	border-radius: 30px;
	padding: 5px;
	color: #727273;
	border: 2px solid #727273;
}
.mainFooter p {
	line-height: 1;
	text-align: center;
	font-size: 1.25rem;
}
.footerContent {
	padding: 0 5%
}
.address {
	border-bottom: 2px solid #727273;
	text-align: center;
}
.address ul li {
	border-right: 2px solid #727273;
	padding: 0 20px 0 15px;
	font-size: 1.5rem;
	line-height: 1.2;
	display: inline-block;
	color: #fff;	
}
/* media query */
@media screen and (max-width: 767px) {
	.rightSection {
		padding: 60px;
		margin: -150px 30px 0
	}
	.contentSection {
		background: transparent;
		margin: 0 0 30px
	}
	.desktop {
		display: none!important
	}
	.container {
		width: 100%
	}
	.headerBottom {
		text-align: center;
		background: #f9f0e0;
		padding: 14px 15px
	}
	.headerTop {
		display: none
	}
	
	.leftSection img {
		height: 360px;
		object-position: bottom;
		object-fit: cover;
	}
	}
.mainFooter .address p {
	line-height: 1.2;
	color: #fff;
	font-size: 1.5rem;
	
}
.mainFooter .address p img {
	padding-right: 10px;
	max-width: 50px;
	vertical-align: middle;
}
.address ul li:last-child {
	border: none
}



